<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../parts/head", { title: 'Dashboard' }) %>
    </head>
    <body>
        <div class="header">
            <%- include("../parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <div class="row">
                    <h3>Bots queued for verification</h3>
                </div>
                <% if (bots.raw.length == 0) { %>
                    <p>No bots are currently in queue for verification! Your job is done, now go have a rest. :)</p>
                <% } else { %>
                    <div class="bot-cards">
                        <!-- Bot cards includes can go here -->
                        <%- bots.chunks.map(chunk => `<div class="row bot-card">${chunk.map(bot => include("../parts/botCard", {bot, queue: true}))}</div>`) %>
                    </div>
                    <hr>
                    <a href="/dashboard/new" class="waves-effect waves-light btn">Add Bot</a>
                <% } %>
            </div>
        </div>
    </body>
    <footer>
        <%- include("../parts/footer") %>
        <%- include("../parts/scripts") %>
    </footer>
</html>
