<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head", { title: 'Admin Panel' }) %>
		<meta property="og:title" content="discordboats.club" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://discordboats.club" />

        <meta property="og:site_name" content="discordboats.club">
        <meta name="theme-color" content="#90CAF9">
        <meta name="title" content="Admin Panel">
    </head>

    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <div class="row">
                    <h3>Admin Panel</h3>
                    <hr>
					<br>
					<br>
                    <a href="staff/queue" class="square blue btn btn-orange btn-1x">Staff Bot Queue Page</a>
					<a href="/staff" class="square blue btn btn-red btn-1x">Staff List</a>
					<br>
                    <br>
                    <br>
                    <br>
					<h3>Verification queue</h3>
					<subtitle>Bots queued for verification.</subtitle>
					<hr>
					<% if (botqueue.rawBots.length == 0) { %>
                        <p>Oh, there are currently no bots queued for verification. Your job is done.</p>
                     <% } else { %>
                        <div class="bot-cards">
                            <%- botqueue.chunks.map(chunk => `<div class="row bot-card">${chunk.map(bot => include("parts/botCard", {bot, queue: true, config})).join("")}</div>`).join("") %>
                        </div>
                    <% } %>
                </div>
               
        </div>
                </div>
            </div>
        </div>
<section class="hero is-medium is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
       User Manager
      </h1>
      <h2 class="subtitle">
        Manage website users.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-fluid">
    <br>
    <div class="columns is-multiline is-mobile">
      <% if (usersData.length == 0) { %>
      <h3 class="title is-3">No users available to list.</h3>
      <% } else { %>
      <%- userChunk.map(chunk => `${chunk.map(users => include("../../usercard.ejs", {users})).join("")}`).join("") %>
      <% } %>
    </div>
  </div>
</section>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>
