<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("parts/head", { title: bot.name }) %>
</head>
<body>
    <div class="header">
        <%- include("parts/header", { childBefore: bot.verified ? "" : `<div class="unverified-notice"><div class="container"><div style="padding-bottom: 2.5%;"><center><h5 style="font-weight: bold;">This bot is currently unverified.</h5></center><center><h6>Only you can see it.</h6></center></div></div></div>` }) %>
    </div>
    <div class="main">
        <div class="container">
            <div class="bot-page">
                <div class="bp-top-info">
                    <!-- <div class="bot-image-container">
                        <img src="/boat.jpg" class="bot-image">
                    </div> -->
                    <div class="bp-head">
                        <div class="bp-avatar" style="vertical-align: middle; display: inline-block;">
                            <img class="responsive-img circle" alt="Bot Avatar" src="<%= bot._discordAvatarURL %>">
                        </div>
                        <div class="bp-title" style="padding-left: 2%; padding-right: 2%; vertical-align: middle; display: inline-block;">
                            <h4><%= bot.name %></h4>
                        </div>
                        <div class="bp-chips" style="padding-bottom: 2%; display: inline-block;">
                            <div class="row">
                                <% if (bot.library) { %>
                                    <div class="chip red lighten-2" style="display: inline-block;"><%= bot.library %></div>
                                <% } %>
                                <% if (typeof bot.online == 'boolean') { %>
                                    <div class="chip <%= bot.online ? 'green' : 'red' %> lighten-2" style="display: inline-block;"><%= bot.online ? 'online' : 'offline' %></div>
                                <% } %>
                                <% if (bot.servers) { %>
                                    <div class="chip lime lighten-2" style="display: inline-block;"><%= bot.servers %> servers</div>
                                <% } %>
                                <% if (!bot.verified) { %>
                                    <div class="chip red lighten-3" style="display: inline-block;">unverified</div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <subtitle><%= bot.shortDescription %></subtitle>
                    <hr />
                    <div class="row">
                        <% bot.website ? webVal = '' : webVal = 'disabled' %>
                        <% bot.github ? gitVal = '' : gitVal = 'disabled' %>
                        <a style="margin-left: 6.2%;" target="_blank" href="<%= bot.invite %>" class="col s3 waves-effect waves-light btn orange">Invite</a>
                        <a <%= webVal %> style="margin-left: 6.2%;" target="_blank" href="<%= bot.website %>" class="col s3 waves-effect waves-light btn">Website</a>
                        <a <%= gitVal %> style="margin-left: 6.2%;" target="_blank" href="<%= bot.github %>" class="col s3 waves-effect waves-light btn">Github</a>
                    </div>
                    <hr />
                    <p>
                        <%- bot._markedDescription %>
                    </p>
                    
                    <hr />
                    
                    <h4>Comments</h4>
                    <p>This bot has no comments yet.</p>
                </div>
            </div>
        </div>
        <div id="delete-bot-modal" class="modal" data-bot-id="<%= bot.id %>">
            <div class="modal-content">
                <h4>Are you sure you want to delete your bot?</h4>
                <p class="red-text">You cannot revert this action! Be careful.</p>
            </div>
            <div class="modal-footer">
                <a id="delete-bot-action" class="modal-action modal-close waves-effect waves-red btn-flat">Delete It</a>
            </div>
        </div>            
    </div>
</body>
<footer class="blue lighten-3 page-footer">
    <%- include("parts/footer") %>
    <%- include("parts/scripts") %>
</footer>
</html>
