<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("parts/head", { title: bot.name }) %>
</head>
<body>
    <div class="header">
        <%- include("parts/header", { childBefore: bot.verified ? "" : `<div class="container"><div style="padding-bottom: 2.5%;"><center><h5 style="font-weight: bold;">This bot is currently unverified.</h5></center><center><h6>Only you can see it.</h6></center></div></div>` }) %>
    </div>
    <div class="main">
        <div class="container">
            <div class="bot-page">
                <div class="bp-top-info">
                    <!-- <div class="bot-image-container">
                        <img src="/boat.jpg" class="bot-image">
                    </div> -->
                    <div class="bp-head-section">
                        <h4 class="bp-heading">
                            <img style="vertical-align: middle;" class="responsive-img circle" alt="Bot Avatar" src="<%= bot._discordAvatarURL %>">
                            <%= bot.name %>
                        </h4>
                        <div class="chip red lighten-2" style="display: inline-block;"><% if (bot.library) { %><%= bot.library %><% } else { %><span class="hide-on-small-only">Unknown Library</span><span class="hide-on-med-and-up">N/A</span><% } %></div>
                        <div class="chip green lighten-2" style="display: inline-block;"><%= typeof bot.online === "boolean" ? bot.online ? "online" : "offline" : "N/A" %></div>
                        <div class="chip lime lighten-2" style="display: inline-block;"><%= bot.servers %> servers</div>
                        <% if (!bot.verified) { %>
                            <div class="chip red lighten-3" style="display: inline-block;">unverified</div>
                        <% } %>
                    </div>
                    <subtitle><%= bot.shortDescription %></subtitle>
                    <hr />
                    <em>Hi, jellz here - I removed the bot buttons for now since they're being mean and idfk whats wrong with them and neither does Ron so maybe we'll fix it another time (or if rebecca wants to that'd be nice)</em>
                    <hr />
                    <p>
                        <%- bot._markedDescription %>
                    </p>
                    
                    <hr />
                    
                    <h4>Comments</h4>
                    <p>This bot has no comments yet.</p>
                </div>
            </div>
        </div>
        <div id="delete-bot-modal" class="modal" data-bot-id="<%= bot.id %>">
            <div class="modal-content">
                <h4>Are you sure you want to delete your bot?</h4>
                <p class="red-text">You cannot revert this action! Be careful.</p>
            </div>
            <div class="modal-footer">
                <a id="delete-bot-action" class="modal-action modal-close waves-effect waves-red btn-flat">Delete It</a>
            </div>
        </div>            
    </div>
</body>
<footer class="blue lighten-3 page-footer">
    <%- include("parts/footer") %>
    <%- include("parts/scripts") %>
</footer>
</html>
