<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("parts/head", { title: bot.name }) %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script>window.IS_BOT_PAGE = true;</script>
</head>
<body>
    <div class="header">
        <%- include("parts/header", { childBefore: bot.verified ? "" : `<div class="unverified-notice"><div class="container"><div class="unverified"><center><h5>This bot is currently unverified.</h5></center><center><h6>Only you can see it.</h6></center></div></div></div>` }) %>
    </div>
    <div class="main">
        <div class="container">
            <div class="bot-page">
                <div class="bp-top-info">
                    <!-- <div class="bot-image-container">
                        <img src="/boat.jpg" class="bot-image">
                    </div> -->
                    <div class="bp-head">
                        <div class="bp-avatar">
                            <img class="responsive-img circle" alt="Bot Avatar" src="<%= bot._discordAvatarURL %>">
                        </div>
                        <div class="bp-title">
                            <h4><%= bot.name %></h4>
                        </div>
                        <div class="bp-chips">
                            <div class="row">
                                <% if (bot.library) { %>
                                    <div class="chip red lighten-2 bp-chip"><%= bot.library %></div>
                                <% } %>
                                <% if (typeof bot.online == 'boolean') { %>
                                    <div class="chip <%= bot.online ? 'green' : 'red' %> lighten-2 bp-chip"><%= bot.online ? 'online' : 'offline' %></div>
                                <% } %>
                                <% if (bot.servers) { %>
                                    <div class="chip lime lighten-2 bp-chip"><%= bot.servers %> servers</div>
                                <% } %>
                                <% if (!bot.verified) { %>
                                    <div class="chip red lighten-3 bp-chip">unverified</div>
                                <% } %>
                                <% if (bot.prefix) { %>
                                    <div class="chip purple lighten-3 bp-chip"><%= bot.prefix %> prefix</div>
                                <% } %>
                                <% if (bot._ownerTag) { %>
                                    <div class="chip cyan lighten-5 bp-chip">owned by <%= bot._ownerTag %></div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="bp-info">
                        <subtitle><%= bot.shortDescription %></subtitle>
                        <hr />
                        <a class="btn-large btn-flat" data-bot-id="<%=bot.id%>" id="like-btn" href="#"><p class="white-text"><%=bot.likeCount%></p><i class="fas fa-heart red-text" style="width:100%;height: 100%;"></i></a>
                        
                        <div class="row">
                            <% bot.website ? webVal = '' : webVal = 'disabled' %>
                            <% bot.github ? gitVal = '' : gitVal = 'disabled' %>
                            <a target="_blank" href="/invite_url/<%=bot.id%>" class="col s3 waves-effect waves-light btn orange bp-button">Invite</a>
                            <a <%= webVal %> target="_blank" href="<%= bot.website %>" class="col s3 waves-effect waves-light btn bp-button">Website</a>
                            <a <%= gitVal %> target="_blank" href="<%= bot.github %>" class="col s3 waves-effect waves-light btn bp-button">Github</a>
                        </div>
                        <hr />
                        <p><%- bot._markedDescription %></p>
                    </div>
                </div>
                <!-- <div class="bp-comments">
                    <hr />
                    <h4>Comments</h4>
                    <p>This bot has no comments yet.</p>
                </div> -->
            </div>
        </div>        
    </div>
</body>
<footer class="blue lighten-3 page-footer">
    <%- include("parts/footer") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mo-js/0.288.2/mo.min.js"></script>
    <%- include("parts/scripts") %>
</footer>
</html>
