<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head", { title: 'Browse' }) %>
    </head>
    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <%- include("parts/searchBar") %>
                <h3>Browse</h3>
                <hr>
                <% if (rawBots.length == 0) { %>
                    <p>There's no bots on this site at the moment. <a href="/dashboard/new">Add one?</a></p>
                <% } else { %>
                    <div class="bot-cards">
                            <!-- Bot cards includes can go here -->
                        <%- botChunks.map(chunk => `<div class="row bot-card">${chunk.map(bot => include("parts/botCard", {bot})).join("")}</div>`).join("") %>
                    </div>
                <% } %>

                <ul class="pagination center-align">
                    <% if (page === 0) { %>
                        <li class="disabled"><a href="?page=<%= page + 1 %>"><i class="material-icons">chevron_left</i></a></li>
                    <% } else { %>
                        <li class="waves-effect"><a href="?page=<%= page %>"><i class="material-icons">chevron_left</i></a></li>
                    <% } %>

                    <% for (let p = 0; p < pages; p++) { %>
                        <li class="<%= page === p ? 'active light-blue darken-4' : 'waves-effect' %>"><a href="?page=<%= p + 1 %>"><%= p + 1 %></a></li>
                    <% } %>

                    <% if (page === pages - 1) { %>
                        <li class="disabled"><a href="?page=<%= page + 1 %>"><i class="material-icons">chevron_right</i></a></li>
                    <% } else { %>
                        <li class="waves-effect"><a href="?page=<%= page + 2 %>"><i class="material-icons">chevron_right</i></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>