<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head") %>
        <meta name="title" content="discordboats.club">
        <meta name="description" content="Open-source Discord bot list with a (slowly) growing directory and userbase. Come enrich your discord experience with our directory of bots.">
        <meta name="keywords" content="Discord,Discord Bot,Discord Bots,discordboats,DBC,Discord Bot List,discord boats,boats,discordboats.club,dboats,dbots,dbot,bots,list,directory,bot list">
        <meta property="og:title" content="discordboats.club"
        <meta property="og:description" content="Open-source Discord bot list with a (slowly) growing directory and userbase. Come enrich your discord experience with our directory of bots."
        <meta property="og:image" content="https://discordboats.club/logo.png"
    </head>
    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <%- include("parts/searchBar") %>
                <h3>Browse</h3>
                <subtitle>The most popular Discord Bots on the list.</subtitle>
                <hr>
                <% if (rawBots.length == 0) { %>
                    <p>There's no bots on this site at the moment. <a href="/dashboard/new">Add one?</a></p>
                <% } else { %>
                    <div class="bot-cards">
                            <!-- Bot cards includes can go here -->
                        <%- botChunks.map(chunk => `<div class="row bot-card">${chunk.map(bot => include("parts/botCard", {bot})).join("")}</div>`).join("") %>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>
