<!DOCTYPE html>
<html>
    <head>
        <%- include("parts/head") %>
    </head>
    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <div class="bot-cards">
                    <!-- Bot cards includes can go here -->

                    <!-- placeholder content -->
                    <% var boathtml = include("parts/botCard", {bot: {name: "TestBoat", shortDesc: "I am a boat that is non existant and is test of the tests."}}) %>
                    <!-- 4 boats per row -->
                    <div class="row">
                        <%- boathtml %>
                        <%- boathtml %>
                        <%- boathtml %>
                        <%- boathtml %>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer class="blue lighten-3 page-footer">
        <%- include("parts/footer") %>
    </footer>
</html>