<!DOCTYPE html>
<html>
    <head>
        <%- include("parts/head") %>
    </head>
    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <div class="bot-cards">
                    <!-- Bot cards includes can go here -->
                    <div class="row">
                        <%- include("parts/botCard", {bot: {}}) %>
                        <%- include("parts/botCard", {bot: {}}) %>
                        <%- include("parts/botCard", {bot: {}}) %>
                        <%- include("parts/botCard", {bot: {}}) %>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
    </footer>
</html>