<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head") %>
    </head>
    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <h3>Top Bots</h3>
                <hr>
                <% if (rawBots.length == 0) { %>
                    <p>There's no bots on this site at the moment. <a href="/dashboard/new">Add one?</a></p>
                <% } else { %>
                    <div class="bot-cards">
                            <!-- Bot cards includes can go here -->
                        <%- botChunks.map(chunk => `<div class="row bot-card">${chunk.map(bot => include("parts/botCard", {bot}))}</div>`) %>
                    </div>
                <% } %>
                <h3>Recent Bots</h3>
                <hr>
                <h3>Featured Bots</h3>
                <hr>
            </div>
        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>
