<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("parts/head") %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>


<div class="w3-row-padding">
 <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">Statistics</h4>
       
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i><%= botCount %> # of Bots</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i><%= userCount %> # of Users</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"><%= likeCount %> # of Likes</p>
 <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i><%= botsInvited %> # of Bots Invited</p>
        </div>
      </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>
