<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("parts/head") %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
<div class="w3-container">
  <h2>Statistics</h2>
</div>

<div class="w3-row-padding">

<div class="w3-third w3-margin-bottom">
  <ul class="w3-ul w3-border w3-center w3-hover-shadow">
    <li class="w3-black w3-xlarge w3-padding-32">Stats</li>
    <li class="w3-padding-16"><b><%= botCount %> # of Bots</li>
    <li class="w3-padding-16"><b>10</b><%= userCount %> # of Users</li>
    <li class="w3-padding-16"><b>10</b><%= likeCount %> # of Likes</li>
    <li class="w3-padding-16"><b>Endless</b><%= botsInvited %> # of Bots Invited</li>
    </li>

              

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>
