<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <head>
        <%- include("parts/head") %>
    </head>

    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:328px">
  <h3>Discord Stats</h3><br>
  <i class="fa fa-css3 w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
 <p> <%= botCount %> # of Bots</p>
  <p> <%= userCount %> # of Users</p>
  </div>
</div>

                <h3>Statistics</h3>
                <subtitle>Some interesting stats about Discord Bot Universe</subtitle>
                <hr>
                <div class="row">
                    <div class="col s4">
                        <div class="container">
                            <div class="center-align">
                                <h4># of Bots</h4>
                                <hr>
                                <h4 class="stat-value">
                                    <%= botCount %>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="container">
                            <div class="center-align">
                                <h4># of Users</h4>
                                <hr>
                                <h4 class="stat-value">
                                    <%= userCount %>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="container">
                            <div class="center-align">
                                <h4># of Likes</h4>
                                <hr>
                                <h4 class="stat-value">
                                    <%= likeCount %>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <div class="container">
                            <div class="center-align">
                                <h4># of Bots Invited</h4>
                                <hr>
                                <h4 class="stat-value">
                                    <%= botsInvited %>
                                </h4>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>
