<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("parts/head") %>
</head>
<body>
    <div class="header">
        <%- include("parts/header") %>
    </div>
    <div class="main">
        <div class="container">
            <div class="profile-page">
                <div class="bp-top-info">
                    <div class="bp-head-section">
                        <h4 class="bp-heading">
                            <img class="responsive-img circle" alt="Avatar" src="<%=profile._discordAvatarURL%>">
                            <%= profile.username %>
                        </h4>
                        <% if (profile._verifiedBots.length !== 0) { %>
                            <div class="chip lime lighten-2" style="display: inline-block;">owns <%= profile._verifiedBots.length %> verified bot<%=profile._verifiedBots.length===1?"":"s"%></div>
                        <% } %>
                        <div class="chip lime lighten-2" style="display: inline-block;">account created <%= profile._fmtCreatedAt %></div>
                    </div>
                    <hr />
                    <p>
                        <%- profile._markedDescription %>
                        debugging:  

                        <%- JSON.stringify(profile) %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="blue lighten-3 page-footer">
    <%- include("parts/footer") %>
</footer>
</html>