<div class="col s12 m3" id="<%= bot.id %>">
    <div class="card hoverable blue-grey darken-1">
        <div class="card-image bot-image-container">
            <a href="/bot/<%= bot.id %>"><img src="<%= bot._discordAvatarURL %>" class="bot-image" alt="Bot Profile Picture"></a>
        </div>
        <div class="card-content white-text">
            <span class="card-title"><%= bot.name %></span>
            <p class="bot-card-desc"><%= bot.shortDescription %></p>

            <div class="card-server-count chip <%= bot.online ? 'green' : 'red' %> lighten-2"><%= bot.online ? 'online' : 'offline' %></div>
            <% if (bot.servers) { %>
            <div class="card-server-count chip lime lighten-2"><%= bot.servers %> servers</div>
            <% } %>
        </div>
        <div class="card-action">
            <a href="/invite_url/<%=bot.id%>">Invite</a>
            <a href="/bot/<%= bot.id %>">View</a>
            <% if (typeof queue !== "undefined") { %>
            <a class="accept-button" href="https://discordapp.com/oauth2/authorize?client_id=<%= bot.id %>&scope=bot" target="_blank"><strong>Accept</strong></a>
            <a class="deny-button" href="#"><strong>Deny</strong></a>
            <% } %>
            <% if (typeof api !== "undefined") { %>
            <a class="api-key-button" href="/dashboard/bot/<%= bot.id %>/manage">Manage</a>
            <% } %>
        </div>
    </div>
</div>
