<div class="col s12 m3" id="<%= bot.id %>">
    <div class="card hoverable blue-grey darken-1">
        <div class="card-image bot-image-container">
            <img src="<%= bot._discordAvatarURL %>" class="bot-image">
        </div>
        <div class="card-content white-text">
            <span class="card-title"><%= bot.name %></span>
            <p class="bot-card-desc"><%= bot.shortDescription %></p>
            <% if (bot.servers) { %>
            <div class="card-server-count chip lime lighten-2"><%= bot.servers %> servers</div>
            <% } %>
        </div>
        <div class="card-action">
            <a href="<%= bot.invite %>">Invite</a>
            <a href="/bot/<%= bot.id %>">View</a>
            <% if (typeof queue !== "undefined" && queue == true) { %>
            <a class="accept-button" href="<%= bot.invite %>" target="_blank"><strong>Accept</strong></a>
            <a class="deny-button" href="#"><strong>Deny</strong></a>
            <% } %>
            <% if (typeof api !== "undefined" && api == true) { %>
            <a class="api-key-button" href="/bot/<%= bot.id %>/key">View API key</a>
            <% } %>
        </div>
    </div>
</div>