<div class="col s12 m3" id="<%= bot.id %>">
    <div class="card hoverable blue-grey darken-1">
        <div class="card-image bot-image-container">
            <img src="<%= bot._discordAvatarURL %>" class="bot-image">
            <span class="card-title"><%= bot.name %></span>
        </div>
        <div class="card-content white-text">
            <p style="padding-bottom: 5%;"><%= bot.shortDescription %></p>
            <div class="chip lime lighten-2" style="display: inline-block;"><%= bot.servers %> servers</div>
        </div>
        <div class="card-action">
            <a href="<%= bot.invite %>">Invite</a>
            <a href="/bot/<%= bot.id %>">View</a>
            <% if (typeof queue !== "undefined" && queue == true) { %>
            <a class="accept-button" style="color: lightgreen;" href="#"><strong>Accept</strong></a>
            <a class="deny-button" style="color: red;" href="#"><strong>Deny</strong></a>
            <% } %>
        </div>
    </div>
</div>